.game-card {
    height: 160px;
    width: calc(100%/7 - 8px);
    border-radius: 5px;
    box-shadow: 2px 2px 3px #000;
    margin-right: 8px;
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;

    background-color: #726e75;;
    cursor: pointer;
    transition: all ease 0.5s;
}
.game-card:hover {
    background-color: #9875b7;
}
.game-card.matched {
    background-color: white;
    cursor: default;
}
.game-card.correct {
    background-color: #55922f;
    cursor: default;
}
.game-card.incorrect {
    background-color: #c74b7f;
    cursor: default;
}
@media only screen and (max-width: 1200px) {
    .game-card {
        height: 160px;
        width: calc(100%/5 - 8px);
    }
}
@media only screen and (max-width: 768px) {
    .game-card {
        height: 100px;
        width: calc(100%/4 - 8px);
    }
}

p.game-completed {
    text-align: center;
    color: #55922f;
    font-size: 14px;
}
p.game-not-found {
    text-align: center;
    color: #c74b7f;
    font-size: 14px;
}

.back-button {
    margin: 0 auto;
    margin-top: 14px;
}